---
layout: default
---

		{{ content }}

		{% for post in site.posts %}
		{% capture index %}{% cycle 'odd', 'even' %}{% endcapture %}
		<article>

		{% if index == 'odd' %}
			<div class="section">
				<img src="{{ site.imagesUrl | append: post.screenshot }}">
				<div class="text">
					<h4>{{ post.title }}</h4>
					<p>{{ post.excerpt }}</p>
					<a href="{{ post.appstoreLink }}">
						<img class="appstorelink" src="{{ site.assetsUrl | append: 'appstore.png' }}">
					</a>
				</div>
			</div>

		{% else %}

			<div class="section">
				<div class="text">
					<h4>{{ post.title }}</h4>
		      <p>{{ post.excerpt }}</p>
					<a href="{{ post.appstoreLink }}">
						<img class="appstorelink" src="{{ site.assetsUrl | append: 'appstore.png' }}">
					</a>
				</div>
				<img src="{{ site.imagesUrl | append: post.screenshot }}">
			</div>
		{% endif %}

		{% endfor %}
